.topseller{
    height: auto;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 1px rgb(49, 49, 49);
    padding-top: 80px;
    padding-bottom: 80px;
    
  .sellerbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 150px;
    grid-row-gap: 40px;
    @media (max-width: 950px){
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 100px;
  }
  @media (max-width: 850px){
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}
@media (max-width: 750px){
  grid-template-columns:  1fr 1fr;
  grid-column-gap: 50px;
}
@media (max-width: 475px){
  grid-template-columns: 1fr ;
  grid-column-gap: 50px;
}
    
  }
  h1{
      color: white;
      margin-bottom: 40px;
  }
}